*{
    margin: 0;
    padding: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.clearfix {
    *zoom: 1;
  }
.clearfix::before, .clearfix::after {
    display: block; content: ""; line-height: 0;
}
.clearfix::after{
    clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 200px;
  background-color: #000;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family:'Noto Sans KR','Noto Sans','Roboto',sans-serif;
  font-size: 16px;
}
ul, li, a{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-family: 'Noto Sans',sans-serif;
}
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}
/* head {
  display: block;
} */
/* margin -top */
.mt150{
    margin-top:150px !important
}
.mt100{
    margin-top:100px !important
}
.mt50{
    margin-top:50px !important
}
.mt30{
    margin-top:30px !important
}
.mt20{
    margin-top:20px !important
}
.mt15{
    margin-top:15px !important
}
.mt10{
    margin-top:10px !important
}
.mt5{
    margin-top:10px !important
}


/* padding-top */
.pt100{
    padding-top: 100px !important;
}
.pt50{
    padding-top: 50px !important;
}
.pt20{
    padding-top: 20px !important;
}
.pt10{
    padding-top: 10px !important;
}
.displaynone{
    display: none;
}









header {
  background-color: #000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
header > .container {
  min-width: 1600px;
  padding: 0 3em;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0px auto;
  background-color: transparent;
  display: block;
}
.leftBox{
    display: flex;
    width: 10%;
    justify-content: center;
}
header nav{
    display: flex;
    width: 80%;
    justify-content: center;
}
header .menu {
 width: 40%;
 text-align: right;
  text-transform: uppercase;
}
header .menu li{
    width: 25%;
}
header .menu a{
  font-size: 20px;
}
header .call{
    display: flex;
    width: 10%;
    justify-content: right;
}
header .call a{
   text-align: center;
   font-size: 20px;
}
header .download{
    display: flex;
    width: 10%;
    justify-content: right;
    padding:0 30px;
    background: url(../images/download.png) right no-repeat;
    background-size: 30px;

}
header .download a{
    font-size: 16px;
}

.foot {
  background-color: #fff;
  color: #535353;
  padding-bottom: 30px;
  letter-spacing: -0.5px;
}
.foot .container > ul.logoArea {
  justify-content: space-between;
  font-size: 15px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.foot .container > ul.logoArea > li > .logo {
  color: #535353;
}


.foot_main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 0px;
  right: 0px;
  top: 100vh;
  z-index: 1200;
  transition: top 0.6s ease-in-out;
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  background-color: transparent;
}

.foot_main.transition-up {
  top: 0px;
}
.footer_main_area {
  background-color: #fff;
}
.foot_main .footer_main_area {
  margin-top: auto;
  width: 100%;
  padding-bottom: 40px;
}

/* flex */
header > .container,
nav > ul,
.mainfullbox1 > .container > ul,
.mainfullbox3 > .container > ul,
.foot .container > ul {
  display: flex;
  align-items: center;
}
/* slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper.bg {
  min-height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/**/
.mainfull_navi ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainfull_navi span {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  line-height: 10px;
}

.mainfull_navi span.swiper-pagination-bullet-active {
  opacity: 1;
}
.mainfull_navi.bk span {
  background-color: #000;
}
.logo_menu {
  text-decoration:none;
}
.logo {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
.logo_header img{
    width: 150px;
    max-width: 100%;
}
nav > ul > li {
  padding-right: 40px;
}


.mainfullbox_Last {
  background:#000;
}
.mainfullbox1 {
  background:#fff;
}

.mainfullbox0 .main{
    width: 1920px;
    max-width: 100%;
    height: 1080px;
    overflow: hidden;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: cover;
}
.main .Title{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.titleImg{
    width: 100%;
    max-width: 100%;
}