@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Noto Sans KR";
}

.clearfix {
  *zoom: 1;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

html,
body {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  padding-bottom: 200px;
  background-color: #000;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family: 'Noto Sans KR', 'Noto Sans', 'Roboto', sans-serif;
  font-size: 16px;
}


ul,
li,
a {
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-family: 'Noto Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

/* head {
  display: block;
} */
/* margin -top */
.mt150 {
  margin-top: 150px !important
}

.mt100 {
  margin-top: 100px !important
}

.mt50 {
  margin-top: 50px !important
}

.mt30 {
  margin-top: 30px !important
}

.mt20 {
  margin-top: 20px !important
}

.mt15 {
  margin-top: 15px !important
}

.mt10 {
  margin-top: 10px !important
}

.mt5 {
  margin-top: 10px !important
}


/* padding-top */
.pt150 {
  padding-top: 150px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.displaynone {
  display: none;
}









#header {
  background-color: #000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Noto Sans KR";
  transition: background-color 0.5s ease;
}

#header:hover {
  background-color: #fff;
}

#header:hover a {
  color: #000 !important;
}

#header>.container {
  margin: 0px auto;
  background-color: transparent;
  align-items: center;
  min-width: 1200px;
  max-width: 100% !important;
  padding: 0 70px;
  height: 88px;
  display: flex;
  justify-content: space-between;

}

#header nav {
  display: flex;
  justify-content: center;
}

#header .menu {
  text-align: center;
  text-transform: uppercase;

}

#header .menu li {
  width: 25%;
  height: 88px;
  position: relative;
  display: block;
  transition: color border-bottom 0.5s ease;
}

#header .menu a {
  font-size: 20px;
  font-weight: 600;
  transition: color border-bottom 0.5s ease;
  width: 100%;
  display: block;
  height: 86px;
  text-align: center;
  line-height: 86px;
}

#header ul>li:hover>a {
  color: #4026EE !important;
  border-bottom: 2px solid #4026EE;
}

#header .head-r {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  align-items: center;
}

#header .call a {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

#header .download {
  padding: 0 30px;
  background: url(../images/download.png) right no-repeat;
  backdrop-filter: #4026EE;
  background-size: 30px;
}

#header .download a {
  font-size: 16px;
  font-weight: 600;
}

.foot {
  background-color: #fff;
  padding-bottom: 50px;
  letter-spacing: -0.5px;
  font-family: "Noto Sans KR";
  width: 1920px;
  max-width: 100%;
  clear: both;
}


#footer .foot_main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 0px;
  right: 0px;
  top: 100vh;
  z-index: 1200;
  transition: top 0.6s ease-in-out;
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  background-color: transparent;
}

#footer .foot_main.transition-up {
  top: 0px;
}

#footer .footer_main_area {
  background-color: #fff;
  width: 1600px;
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}

#footer .foot_main .footer_main_area {
  margin-top: auto;
  width: 100%;
}

/* flex */
#header>.container,
nav>ul,
.mainfullbox1>.container>ul,
.mainfullbox3>.container>ul,
.foot .container>ul {
  display: flex;
  align-items: center;
}

/* slider */
.swiper {
  width: 100%;
  font-family: "Noto Sans KR";
  clear: both;
}

section {
  clear: both;
  overflow: hidden;
  display: block;
}

.swiper-wrapper.bg {
  min-height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/**/
.mainfull_navi ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainfull_navi span {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  line-height: 10px;
}

.mainfull_navi span.swiper-pagination-bullet-active {
  opacity: 1;
}

.mainfull_navi.bk span {
  background-color: #000;
}

.logo_menu {
  text-decoration: none;
}

.logo_header img {
  height: 80px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav>ul>li {
  padding-right: 40px;
}


.mainfullbox_Last {
  background: #000;
  color: #fff;
}

.mainfullbox1 {
  background: #fff;
}







.mainfullbox0 .main {
  width: 1920px;
  max-width: 100%;
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}

.main .Title {
  display: inline-block;
  width: 40%;
  padding-right: 5%;
}

.main .rImg {
  display: inline-block;
  width: 50%;
}

.titleImg {
  width: 100%;
  max-width: 100%;
}

.main .imgBox img {
  width: 150px;
}

@keyframes pan {
  to {
    transform: translateY(0);
  }

  50% {
    transform: translatey(-10px);
  }

  from {
    transform: translatey(0);
  }
}

/* 컨설팅 */
.mainImg1 {
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 999;
  opacity: 1;
  transition: all ease 0.5s 0s;
  transition-delay: 2s;
  transform: translateY(0);
}

.mainImg1 .textBox {
  position: absolute;
  top: 60%;
  left: 90%;
}

.mainImg1 .on {
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 999;
  animation: pan 1.5s linear infinite;
  filter: grayscale(0);
  transition: all ease 0.5s 0s;
}

/* 운영 */
.mainImg2 {
  position: absolute;
  top: 15%;
  left: 60%;
  z-index: 999;
}

.mainImg2 .textBox {
  position: absolute;
  top: 60%;
  left: 90%;
}

/* 분석 */
.mainImg3 {
  position: relative;
  bottom: 100%;
  left: 60%;
  z-index: 999;
  filter: grayscale(80%);
  transition: filter ease 1s infinite;
}

.mainImg3 .textBox {
  margin-right: 50px;
}

/* circle */
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.mainImg4 {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 666;
  animation: rotate_image 9s linear infinite;
  transform-origin: 50% 50%;
  opacity: 1;
  transition: all ease 0.5s 0s;
  transition-delay: 3s;
}

.mainImg4 .imgBox img {
  width: 100%;
}





/* mainfullbox1 */


.mainfullbox1 {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.client {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client h1 {
  font-family: 'GongGothicMedium';
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 50px;
}

.client p {
  color: #7b7b7b;
}

.logoWrap {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

.logoBox {
  max-width: 1500px;
  margin: auto;
}

.logoBox span {
  margin: 0 30px;
  box-sizing: border-box;
  width: 20%;
  max-width: 100%;
}

.logoBox img {
  max-width: 200px;
  width: 100%;
}



/* quick */
.quick {
  position: fixed;
  right: 0;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  box-shadow: 5.142px 6.128px 12.35px 0.65px rgba(25, 48, 88, 0.3);
}

.quick p {
  font-weight: 600;
  padding: 20px 10px;
  box-sizing: border-box;
  color: #fff;
  background-color: #4026EE;
  border-radius: 20px 0 0 0px;
}

.quick a {
  display: block;
  padding: 10px 15px;
}

.quick .iconBox a:nth-child(1) {
  padding-top: 20px;
}

.quick .iconBox a:last-child {
  padding-bottom: 20px;
}

.quick .iconBox {
  background-color: #fff;
  border-radius: 0 0 0 20px;
}

.quick .iconBox span {
  display: block;
  color: #000;
  font-weight: 700;
  padding-top: 8px;
  font-size: 14px;
  font-family: "Noto Sans KR";
}





/* mainfullbox_Last */
.mainfullbox_Last {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
}

.now {
  width: 80%;
  margin: auto;
}

.mainfullbox_Last h1 {
  font-weight: 400;
  padding-top: 100px;
}

.scrollWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.scrollWrap .mr-10 {
  margin-right: 10%;
}

.scrollBox {
  width: 45%;
  max-width: 100%;
  background-color: transparent;
  color: #000;
  border-radius: 20px;
}

.s-headerWrap {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.s-header {
  width: 100%;
  padding: 20px 10px;
  font-size: 24px;
  font-weight: 500;
}

.scroll01 .s-header {
  background: rgb(47, 91, 181);
  background: linear-gradient(90deg, rgba(47, 91, 181, 1) 0%, rgba(9, 125, 173, 1) 50%, rgba(29, 0, 166, 1) 100%);
}

.scroll02 .s-header {
  background: rgb(72, 16, 113);
  background: linear-gradient(90deg, rgba(72, 16, 113, 1) 0%, rgba(110, 3, 196, 1) 50%, rgba(40, 13, 68, 1) 100%);
}

.s-header strong {
  font-size: 26px;
}

.s-now {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.s-now p {
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.s-now p:last-child {
  border-radius: 0 0 20px 20px;
}

span.date {
  display: inline-block;
  width: 20%;
  max-width: 100%;
  padding-left: 1em;
  box-sizing: border-box;
}

span.title {
  display: inline-block;
  width: 60%;
  max-width: 100%;
  box-sizing: border-box;
}

i.name {
  font-style: normal;
}

span.done {
  background-color: #a41012;
  padding: 5px 15px;
  border-radius: 5px;
  box-sizing: border-box;
}




/* footer */
.copy ul {
  display: block;
  width: 100%;
  overflow: hidden;
}

.copy li {
  color: #797979;
  font-size: 14px;
  padding: 3px 0;
}

.copy li:last-child {
  padding-left: 3em;
}

.copy ul:last-child li {
  padding-left: 0;
}

.copy li span {
  font-weight: 600;
}

.copy li span.head {
  padding-right: 0.5em;
}

.f-logo p {
  font-weight: 700;
}

.f-logo p.small {
  font-size: 25px;
}

.f-logo p.strong {
  font-size: 40px;
  margin-top: -15px;
  margin-bottom: 30px;
}

.loginBtn {
  margin-top: 10px;
}

.loginBtn button {
  padding: 0.2em 1.5em;
}

.contentWrap .textBox {
  color: #fff;
}

.bgWrap {
  background: url(../images/about1-1.jpg) center center no-repeat;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.about01 .textBox.right {
  text-align: right;
  padding-right: 12%;
  padding-top: 5%;
}

.about01 .textBox.left {
  text-align: left;
  padding-left: 12%;
  margin-top: -8%;
}

.textBox.left div.gray p {
  color: #7b7b7b;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
}

.about01 .textBox.right h1 {
  font-size: 120px;
}

.about01 .textBox p {
  font-size: 28px;
  line-height: 48px;
  font-weight: 600;
}

.aboutWrap {
  margin: 0 auto;
  text-align: center;
}

.about02 .headLogo img {
  width: 300px;
}

.aboutWrap .about02 .Title {
  color: #4026EE;
  padding: 20px 0 40px 0;
}

.aboutWrap .about02 ul {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.aboutWrap .about02 ul li {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 800;
  width: 25%;
}

.aboutWrap .about02 .step ul li p {
  background-color: #fff;
  display: inline-block;
  color: #000;
  padding: 1em 1.5em;
  border-radius: 50px;
  border: 5px solid #dedede;
}

.aboutWrap .about02 .step ul li::after {
  content: "";
  background: url(../images/next_wh.png) right center no-repeat;
  padding: 0 30px;
}

.aboutWrap .about02 .step ul li:last-child::after {
  background: none;
}

.about02 .direct {
  width: 100%;
  max-width: 1920px;
  padding: 100px 0;
  clear: both;
  margin: 0 auto;
  display: block;
}

.about02 .direct ul {
  width: 80%;
  margin: auto;
}

.about02 .direct ul li {
  width: 33.333%;
  text-align: center;
  position: relative;
}

.about02 .direct p {
  width: 100%;
  font-size: 40px;
  padding: 1em 1.5em;
  background-color: #fff;
  text-align: center;
  color: #000;
  box-sizing: border-box;
  border-radius: 100px;
  border: 5px solid #dedede;
}

.aboutWrap .about02 {
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(../images/about1-2.jpg) center no-repeat;
  position: relative;
}

.about02 .title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutWrap .about02 .title h1 {
  font-size: 72px;
  padding: 50px 0 50px 0;
}

.aboutWrap .about02 .title p {
  font-size: 26px;
  padding: 10px 0;
  font-weight: 400;
}
.aboutWrap .about02 .title p strong{
  font-weight: 700;
  font-size: 28px;
}
.about03 {
  width: 80%;
  margin: 0 auto;
}

.about03 .title {
  color: #fff;
  padding: 0 0 60px 0;
}

.about03 .title h1 {
  font-size: 72px;
  padding: 30px 0 30px 0;
}

.about03 .title p {
  font-size: 26px;
  padding: 10px 0;
  font-weight: 400;
}
.about03 .title p strong{
  font-size: 28px;
  font-weight: 700;
}

.about03 .imgBox {
  margin: 0 auto;
  width: 100%;
}

.about03 .imgBox img {
  text-align: center;
  display: block;
  margin: auto;
}

.black {
  background-color: #000;
}

.about04 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url(../images/about04.jpg) no-repeat center center;
  position: relative;
}

.about04 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.about04 .title strong {
  color: #4026EE;
  font-size: 70px;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
}

.about04 .title h1 {
  padding: 10px 0;
  color: #fff;
  font-size: 62px;
}

.about04 .down {
  padding: 50px 0;
}

.about04 .down a {
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all 0.5s ease;
  background-color: transparent;
}

.about04 .down a:hover {
  background-color: #000;
}

.about04 .down a::after {
  content: "";
  background: url(../images/download.png) no-repeat right center;
  padding-left: 20px;
  background-size: 100%;
}

.contentWrap {
  margin-top: 88px;
  color: #000;
  background-color: #fff;

}

.contentWrap .product {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.product h3 {
  font-size: 30px;
}

.product.content h3 {
  padding: 100px 0 100px 0;
}

.product ul {
  display: block;
  margin: auto;
  padding: 20px 0;
  overflow: hidden;
}

.product li {
  color: #000;
  width: 33.333%;
  float: left;
  position: relative;
  line-height: 300px;
}

.product li p {
  border: 2px solid #000;
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 22px;
}

.contentWrap .bgBox {
  position: relative;
  height: 300px;
}

.contentWrap .bgBox01 {
  background: url(../images/productBg.jpg) no-repeat center center;
}

.contentWrap .bgBox02 {
  background: url(../images/case01.jpg) no-repeat center center;
}

.contentWrap .bgBox .Title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.contentWrap .bgBox .Title h1 {
  font-size: 40px;
  padding-bottom: 10px;
}
.contentWrap .bgBox .Title strong {
  font-size: 50px;
}
.contentWrap .bgBox .Title span {
  font-size: 16px;
  padding-top: 30px;
  display: block;
}

.contentWrap .bgBox .Title p {
  font-size: 24px;
}

.bgBox02 {
  color: #FFF;
}

.bgBox02 span {
  color: #bdbdbd;
}